@font-face {
font-family: 'Roboto';
src: url('roboto_medium.woff')/*tpa=http://s.lpmtr.ru/web/user/fonts/roboto/roboto_medium.woff*/ format('woff'); url('roboto_medium.ttf')/*tpa=http://s.lpmtr.ru/web/user/fonts/roboto/roboto_medium.ttf*/ format('ttf');
font-weight: 500;
font-style: normal;
font-display: swap;
}